
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Main Page</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <link rel="stylesheet  " type="text/css" href="styles/navbar.css">

  </head>

  <body>

  <div id ="top-container">
    <div id ="logo-inner">
      <a id="nav-bar">
      <img class="logo" src="./picture/sushi_shop.jpg">
      </a>
    </div>
  </div>


    </nav>

    <!-- Page-specific (main) content here -->
    <div id="main-inner">
      <h1>MENU</h1>

       <div id="left-box">
        <ul class = "left-box-ul">
          <li class="category">about</li>
          <li class="category">appetizer</li>
          <li class="category">sashimi</li>
          <li class="category">bowl</li>
          <li class="category">oshisushi</li>
          <li class="category">roll</li>
        </ul>
      </div>
    </div>

     <div id="main-inner">
      <h1>MENU</h1>

      <div id="left-box">
        <ul class = "left-box-ul">
          <li class="category">about</li>
          <li class="category">appetizer</li>
          <li class="category">sashimi</li>
          <li class="category">bowl</li>
          <li class="category">oshisushi</li>
          <li class="category">roll</li>
        </ul>
      </div>
    </div>

    <div id="container">
      <div class="container-box">
        <div class="check-button-box">
          <img class= "checkout-button" src="./picture/yellow_checkout.png">
        </div>

        <div class="first-row row">
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
        </div>


      </div>

  </body>

</html>
