
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Main Page</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/navbar.css">
  <script type="text/javascript" src="script/app.js"></script>

  </head>

  <body>
    <div class='nbar'>
      <img src='./picture/sushi_shop.jpg'>
    </div>
    <div class='row'>
      <div class='menu col-md-3'>
        <div class='main'>Main</div>
        <p data-id='appetizer' class='appetizer'>Appetizer</p>
        <p data-id='sashimi' class='sashimi'>Sashimi</p>
        <p data-id='bowl' class='bowl'>Bowl</p>
        <p data-id='oshisushi' class='oshisushi'>Oshisushi</p>
        <p data-id='roll' class='roll'>Roll</p>
      </div>
      <div class='items_container col-md-6'>
        <img class='map' src='./picture/mainPage.jpg'>
        <div class='items_row row hidden'>

        </div>
        <div class='overlay'>
          <div class='pop-up'>

          </div>
        </div>
      </div>
      <div class='order_list col-md-3'>
        <div class='total_price'>0</div>
          <label class="userNamePhone" for="userName"></label><input id="user-name" type="text" name="userName"  placeholder="name">
          <label class="userNamePhone" for="phoneNumber"></label><input id="user-phone-number" name="phone-number" placeholder="phone number">
        <img class='checkOut' src='./picture/yellow_checkout.jpg'>



      </div>
    </div>

  </body>

</html>
