
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Main Page</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

   <link rel="stylesheet" type="text/css" href="styles/navbar.css">
   <script type="text/javascript" src="script/app.js"></script>


  </head>

  <body>

  <div id="top-container">
    <div id="logo-inner">
      <a id="nav-bar">
      <img class="logo" src="./picture/sushi_shop.jpg">
      </a>
    </div>
  </div>


    </nav>

    <!-- Page-specific (main) content here -->
    <div id="main-inner">
      <h1>MENU</h1>

       <div id="left-box">
        <form class = "left-box-ul">
          <li class="category">about</li>
          <li id="appetizer" class="category">appetizer</li>
          <li id="sashimi" class="category">sashimi</li>
          <li id= "roll" class="category">bowl</li>
          <li id="oshisushi" class="category">oshisushi</li>
          <li id="bowl" class="category">roll</li>
        </form>
      </div>
    </div>

    <div id="container">
      <div class="container-box">
        <div class="check-button-box">
          <img class= "checkout-button" src="./picture/yellow_checkout.png">
        </div>
      </div>
        <div class="first-row row">
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 each-item"></div>
        </div>
      </div>

  </body>

</html>
